POSTGRES_USER=transcendence
POSTGRES_PASSWORD=transcendence
POSTGRES_DB=transcendence
JWT_SECRET=
TWOFA_ENCRYPTION_KEY=
REDIS_HOST=redis
REDIS_PORT=6379

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=onitama.transcendance@gmail.com
SMTP_PASS=
MAIL_FROM="Onitama <onitama.transcendance@gmail.com>"
APP_URL=http://localhost:5173
